.logo{
width: 5%;
height: 5%;
margin-left: 50%;



}

ul li{
    list-style-type: none;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(102, 99, 94);
    margin-left: -40px;
    padding-left:;
    color: white;
    
}



.box1{
    background-color: rgb(102, 99, 94);
}

.box2{
    margin-top: -17px;
}

.bord{
    border-top: none;
}