body {
    background-image: url(128718-serfing-bereg-nebo-more-zakat-2560x1600.jpg);
    background-color: #c7b39b;
    background-size: 100%;
    
    padding: 0;
            margin: 0;


}

form {
    color: white;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 90px;
    margin-bottom: 90px;
    height: 75vh;
    width: 55%;
    border: 2px solid black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 4);
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;


}

h4 {
    font-size: 12px;
}

.one {
    margin-top: 20px;

}

label {
    font-size: 12px;
}

.first {
    margin-left: 80px;
    width: 300px;
    padding: 5px;
    padding-left: 15px;

}

.last {
    margin-left: 20px;
    width: 300px;
    padding: 5px;
    padding-left: 15px;
}

.ema {
    margin-left: 81px;
    width: 644px;
    padding: 5px;
    padding-left: 15px;
}

.tele {
    margin-left: 94px;
    width: 150px;
    padding: 5px;
    padding-left: 15px;
}

::placeholder {
    opacity: 0.4;
}

.tele2 {
    margin-left: 20px;
    width: 150px;
    padding: 5px;
    padding-left: 15px;
}

.tele3 {
    margin-left: 20px;
    width: 255px;
    padding: 5px;
    padding-left: 15px;
}

.mess {
    margin-left: 38px;
    width: 668px;
    padding: 5px;
    padding-left: 15px;
}

.mess2 {
    margin-left: 81px;
    width: 644px;
    height: 10vh;
    padding: 5px;
    padding-left: 15px;
}

hr {
    margin-top: 30px;
    margin-right: 35px;
    color: white;


}

.sab {
    border: 2px solid white;
    text-align: center;
    width: 660px;
    margin-top: 20px;
    margin-left: 135px;

}